html, body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $primary $dark;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
  background: $primary;
}

body {
  background: url('../../images/bg.jpg') rgba(56, 56, 56, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

#root {
  height: 100%;
}
.App {
  height: 100%;
  padding: 50px;

  @include above(md) {
    height: 100vh;
  }

  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    @include above(md) {
      flex-wrap: nowrap;
    }
  }
}
