/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$dark: #010101;
$light: #ffffff;

$primary: #1e326d;
$secondary: #696b70;
$info: #009bca;
$success: #40c019;
$warning: #d68812;
$danger: #f00c58;

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
